{% extends 'base.html' %}

{% block content %}
  <h1>맛집 리스트</h1>
  <a href="{% url 'restaurants:new' %}">[CREATE]</a>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for restaurant in restaurants %}
      <div class="col">
        <div class="card p-3">
          <h1>이름 : {{ restaurant.name }}</h1>
          <div class="card-body">
            <h5 class="card-title">주소 : {{ restaurant.address }}</h5>
          </div>
          <a class="text-white" href="{% url 'restaurants:detail' restaurant.pk %}">
            <button class="btn btn-primary text-white">
              상세 정보
            </button>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}